@media screen and (max-width: 600px) {
  /* Header */
  .hamburger {
    display: block;
    border: 1px solid #06c167;
    color: #06c167;
    padding: 3px 5px;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    top: -400px;
    right: 0px;
    background-color: #e6f9f0;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
  }
  input[type="checkbox"]:checked ~ ul {
    top: 75px;
  }

  /* banner */
  .banner {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .banner-left {
    justify-content: center;
    align-items: center;
  }
  .banner-left h1 {
    text-align: center;
    font-size: 51px;
  }
  .banner-left p {
    text-align: center;
  }
  .banner-left button {
    width: 320px;
    height: 68px;
  }
  .rate {
    top: 78%;
    left: 140px;
  }

  .rates {
    top: 90.1%;
    right: 100px;
  }

  /* LogoIpsum */
  .logoipsum-parent {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 150px;
  }

  /* Landing */
  .landing-section {
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 100px;
  }
  .landing {
    flex-direction: column;
    gap: 2px;
  }

  /* Benefit */
  .Benefit-Page {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 70px;
  }
  .Benefit-Page-text {
    justify-content: center;
    align-items: center;
  }
  .Benefit-Page-text h1 {
    font-size: 35px;
  }
  .Benefit-Page-image {
    height: 413px;
    width: 320px;
    background-color: #f0f1ec;
    position: relative;
  }
  .Benefit-Page-image img {
    width: 274px;
    height: 417px;
    position: absolute;
    top: -5%;
  }

  /* Star */
  .our-stars {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 50px;
  }
  .our-stars-text {
    order: 2;
  }
  .our-stars-image {
    order: 1;
  }
  .our-stars-image {
    width: 320px;
    height: 460px;
    position: relative;
    justify-content: center;
    background-color: #f0f1ec;
  }
  .our-stars-image img {
    width: 277px;
    height: 489px;
    position: absolute;
    top: -10%;
  }
  .our-stars-text {
    justify-content: center;
    align-items: center;
  }
  .our-stars-text h1 {
    font-size: 35px;
    padding: 0 60px;
  }
  .our-stars-text p {
    margin-top: 40px;
  }
  .our-stars-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .our-stars-box h2 {
    font-size: 40px;
  }
  .our-stars-box p {
    padding-bottom: 15px;
    margin: 0;
  }
  .our-stars-text button {
    height: 79px;
    width: 320px;
  }
  /*Feature*/
  .our-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-one {
    order: 1;
  }
  .exchange-one {
    order: 2;
  }
  .img-two {
    order: 3;
  }
  .exchange-two {
    order: 4;
  }
  .img-three {
    order: 5;
  }
  .exchange-three {
    order: 6;
  }
  .img-four {
    order: 7;
  }
  .exchange-four {
    order: 8;
  }

  /* product */
  .our-product-box {
    grid-template-columns: repeat(1, 445px);
    justify-content: center;
    align-items: center;
  }
  .our-products p,
  h1 {
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .subscribe input {
    width: 320px;
    height: 50px;
  }
  .subscribe button {
    width: 320px;
    height: 50px;
  }
}
